@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base text-textMain font-sans antialiased overflow-hidden;
}

/* Custom scrollbar for dense data panes */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-border;
}